<!-- Header.html -->
<header class="p-4 pt-4 pb-0">
        <nav class="navbar navbar-expand-sm bg-light shadow-sm bg-gradient p-4 rounded">
            <div class="container-fluid">

                <a href="#" class="navbar-brand mb-0 h1">
                    <img src="../assets/images/bootstrap.svg" alt="Bootstrap" width="30" height="24">
                    Financiamento Alvorada
                </a>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
                        <li class="nav-item active"><a href="#" class="nav-link">Features</a></li>
                        <li class="nav-item active"><a href="#" class="nav-link">Pricing</a></li>
                    </ul>
                </div>

                <form class="d-flex" role="search">
                    <input class="form-control me-2 shadow-sm" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary shadow-sm" type="submit">Search</button>
                </form>
            </div>
        </nav>
</header>
