<!-- Header.html -->
<header class=" pb-0">
    <nav class="navbar navbar-expand-sm bg-light shadow-sm bg-gradient p-4 rounded">
        <div class="container-fluid">

            <a href="#" class="gap-2 d-flex align-items-center navbar-brand mb-0 h1">
                <img src="../../src/assets/img/bootstrap.svg" alt="" width="40" height="34">
                Financiamento Alvorada
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Features</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Pricing</a></li>
                </ul>
            </div>

            <form class="d-flex" role="search">
                <input class="form-control me-2 shadow-sm" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary shadow-sm" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>