<!-- Header.html -->
<header class=" pb-0">
    <nav class="navbar navbar-expand-lg bg-primary shadow-sm bg-gradient p-4" style="max-height: 4rem;">
        <div class="container-fluid">

            <a href="#" class="gap-2 d-flex align-items-center navbar-brand mb-0 me-0 h1 text-light p-1">
                <img src="../../src/assets/img/bootstrap.svg" alt="" width="40" height="34">
                Financiamento Alvorada
            </a>

            <button class="navbar-toggler bg-light focus-ring focus-ring-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ms-2" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-lg-3 ms-lg-3 items-ul">
                    <li class="nav-item"><a href="#" class="nav-link active-item text-light">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">Pricing</a></li>
                </ul>
                <form class="d-flex" role="search" id="navbarNav">
                    <input class="form-control me-2 shadow-sm" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light shadow-sm" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>