<div class="form-floating mb-3">
    <input
        type="number"
        class="form-control shadow-sm"
        id="floatingInput1"
        placeholder="R$ 0,00"
    />
    <label for="floatingInput1">Valor do veículo</label>
</div>
<div class="form-floating mb-3 d-flex flex-column gap-3">
        <input
            type="number"
            class="form-control shadow-sm"
            id="floatingInput2"
            placeholder="R$ 0,00"
        />
        <label for="floatingInput2">Valor da entrada</label>
        <div class="form-check form-switch">
            <input
            class="form-check-input shadow-sm"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"> 100% </label>
        </div>
</div>
<div class="input-group mb-3">
        <span class="input-group-text shadow-sm">Total</span>
        <input type="text" class="form-control shadow-sm" aria-label="Amount (to the nearest dollar)" placeholder="R$ 0,00" readonly>
</div>
